In [1]:
# Importing dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [4]:
# Importing resource csvs
path_mousedata = "Resources/Mouse_metadata.csv"
path_studyresults = "Resources/Study_results.csv"

mouse_data = pd.read_csv(path_mousedata)
study_results = pd.read_csv(path_studyresults)
mouse_data.head()
# study_results.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [7]:
# Combine the data into a single dataset
mouse_study_data = pd.merge(mouse_data,study_results,how='outer',on='Mouse ID')
mouse_study_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [9]:
mouse_study_data.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

In [26]:
mouse_study_data.dtypes

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

In [14]:
drug_names = mouse_study_data['Drug Regimen'].unique()

In [44]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

grouped_mouse_study_data = mouse_study_data.groupby(['Drug Regimen'])

tumor_vol_means = round(grouped_mouse_study_data['Tumor Volume (mm3)'].mean(),2)
# tumor_vol_means
tumor_vol_medians = round(grouped_mouse_study_data['Tumor Volume (mm3)'].median(),2)
# tumor_vol_medians
tumor_vol_modes = round(grouped_mouse_study_data['Tumor Volume (mm3)'].agg(pd.Series.mode),2)
# tumor_vol_modes
tumor_vol_variance = round(grouped_mouse_study_data['Tumor Volume (mm3)'].var(),2)
# tumor_vol_variance
tumor_vol_stdev = round(grouped_mouse_study_data['Tumor Volume (mm3)'].std(),2)
#tumor_vol_stdev
tumor_vol_sem = round(grouped_mouse_study_data['Tumor Volume (mm3)'].sem(),2)
# tumor_vol_sem

summary_statistics = {"Mean": tumor_vol_means,
                     "Median": tumor_vol_medians,
                     "Mode": tumor_vol_modes,
                     "Variance": tumor_vol_variance,
                     "Standard Deviation": tumor_vol_stdev,
                     "SEM": tumor_vol_sem}
summary_statistics_df = pd.DataFrame(summary_statistics)
summary_statistics_df

               Mean  Median  Mode  Variance  Standard Deviation   SEM
Drug Regimen
Capomulin     40.68   41.56  45.0     24.95                4.99  0.33
Ceftamin      52.59   51.78  45.0     39.29                6.27  0.47
Infubinol     52.88   51.82  45.0     43.13                6.57  0.49
Ketapril      55.24   53.70  45.0     68.55                8.28  0.60
Naftisol      54.33   52.51  45.0     66.17                8.13  0.60
Placebo       54.03   52.29  45.0     61.17                7.82  0.58
Propriva      52.32   50.85  45.0     42.35                6.51  0.51
Ramicane      40.22   40.67  45.0     23.49                4.85  0.32
Stelasyn      54.23   52.43  45.0     59.45                7.71  0.57
Zoniferol     53.24   51.82  45.0     48.53                6.97  0.52